# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
backend/node_modules

# next.js
frontend/.next

# production
frontend/build

frontend/node_modules